body {
  
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    /* e9ecef Bg 2 */
    background: #E9ECEF;
    margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
